# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Explore open-source development environment tools for Data Science.
- Learn how to create tables in Jupyter Notebook.
- Convert units (e.g., minutes to hours) using Python expressions.
- Understand commonly used expressions and techniques in Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

| Data Science Tools |
|--------------------|
| Jupyter Notebook   | 
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author  
Megavarthini Gopi